@import "tailwindcss";

@theme inline {
  --color-background: #f0f2f5;
  --color-foreground: #171717;
}

body {
  background: #f0f2f5;
  color: var(--color-foreground);
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
}
